@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

body, h2, h3, p {
  font-family: 'Lora', serif;
}

h1 {
  font-family: 'Berkshire Swash', cursive;
  font-weight: lighter;
  margin-left: 50px;
}

h2 {
  font-weight: lighter;
  font-style: italic;
  font-size: 15px;
  margin-left: 125px;
}

.star {
  color: rgb(230, 227, 21);
  font-size: 20px;
}
